<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuddyGram</title>
    {{!-- stylesheets and materialize --}}
      <link rel="stylesheet" href="/public/css/style.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    {{!-- App name, logo, --}}
    {{!--  nav: login, signup, about us --}}
    <header>
    <nav>
        <div class="nav-wrapper grey-darken-4">
                  <a href="#" class="logo">BuddyGram</a>
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
         <ul id="nav-mobile" class="right">
        <li><a href="/login">Login</a></li>
        <li><a href="/">Sign Up</a></li>
        <li> <a href="/">About Us</a></li>
        </ul>
        {{/if}}
        </div>
    </nav>
    </header>

    {{!-- page content --}}
    <main>{{{body}}}</main>


    {{!-- Script for logged in users --}}
      {{#if logged_in}}
  <script src="/js/logout.js"></script>
      {{/if}}
</body>
</html>