<!-- Section: About -->
  <section class="about">
    <div class="row">
      <div class="col s12 center">
        <h1 class="flow-text" id="titleabout">About Us</h1>
        <img src="https://i.pinimg.com/originals/d9/b6/8d/d9b68dbab369d86a9e1d416b3ee9a11f.gif">
      </div>
      <div class="row" id="boxabout">
        <div class="col m12 l6 left" id="textabout">
          <p class="flow-text">BuddyGram is a social network for meeting new friends in your city! Post a Vite to invite people to your activity, or find a Vite that interests you on the on the Explore page. Go shopping, grab happy hour at your favorite local haunt, or play soccer in a park, and do it while making new buddies!</p>
          <p class="flow-text">SAFETY FIRST!</p>
          <p class="flow-text">At BuddyGram, we value your safety. Participating in a Vite means that you will be spending time with strangers, so please be mindful and only meet people under conditions that you are comfortable. Some tips for safety:</p>
          <ul>
            <li>Meet in a public place the first time.</li>
            <li>Use the Buddy System! Meeting new Buddies is always better with a friend.</li>
            <li>Share your plans with others.</li>
          </ul>
          <p class="flow-text">As humans, we crave social connections, but meeting new friends as an adult doesn't just happen. BuddyGram is here to facilitate those connections.</p>
        </div> 
    </div>
  </section>
