<!-- Section: About -->
  <section class="about">
    <div class="row">
      <div class="col s12 center"><h1 class="flow-text">About Us</h1></div>
      <div class="col m12 l6 center">
        <p class="flow-text">Buddygram is the perfect app if you are new in town!
          You will be able to join dinners, parties or even simple hangouts to meet new people.
          In case you are the host , throw a vite and in the next minute new people will show up!
       </p>   </div>
      <div class="col m12 l6 right-align">
        <img class="responsive-img" src="https://i0.wp.com/www.heyuguys.com/images/2021/05/The-Get-Together.jpg?fit=1500%2C844&ssl=1" />  </div>
    </div>
  </section>
