
<div class="aboutus"></div>
  <div class="abouttext">
      <div class="aboutHeader"><h1>ABOUT US</h1>
<h4>BuddyGram is a social network for meeting new friends in your city! Post a Vite to invite people to your activity, or find a Vite that interests you on the on the Explore page. Go shopping, grab happy hour at your favorite local haunt, or play soccer in a park, and do it while making new buddies!</h4>
<h4>SAFETY FIRST</h4>
<h4>At BuddyGram, we value your safety. Participating in a Vite means that you will be spending time with strangers, so please be mindful and only meet people under conditions that you are comfortable. Some tips for safety:</h4>
 <ul>
            <li>1. Meet in a public place the first time.</li>
            <li>2. Use the Buddy System! Meeting new Buddies is always better with a friend.</li>
            <li>3. Share your plans with others.</li>
          </ul>
<h4>As humans, we crave social connections, but meeting new friends as an adult doesn't just happen. BuddyGram is here to facilitate those connections.</h4>
  </div>
</div>