<!-- Section: About -->
  <section class="about">
    <div class="row">
      <div class="col s12 center"><h1 class="flow-text" id="titleabout">About Us</h1><img src="https://i.pinimg.com/originals/d9/b6/8d/d9b68dbab369d86a9e1d416b3ee9a11f.gif"> </div>
     
      <div class="row" id="boxabout">
      <div class="col m12 l6 left" id="textabout">
        <p class="flow-text">Buddygram the perfect app if you are new in town!

           Join dinners, parties or even simple hangouts, to meet new people.
          In case you are the host , throw a vite and in the next minute new people will show up!

          As a quick BuddyGram reminder and safety tip: You will be meeting new people, be aware of your safety buddy standards and always verify their profiles to verify content.
       </p>   </div>
      
    </div>
  </section>
