{{!--  slideshow --}}

<section class="slider">
    <ul class="slides">
      <li>
{{!-- image 1 --}}
        <img src="https://i0.wp.com/www.heyuguys.com/images/2021/05/The-Get-Together.jpg?fit=1500%2C844&ssl=1" alt="party">
        <div class="caption center-align">
          <h2>Text</h2>
        </div>
      </li>
{{!-- image 2 --}}
      <li>
        <img
          src="https://image.shutterstock.com/image-photo/friends-friendship-outdoor-dining-people-260nw-300361952.jpg"
          alt="dining">
        <div class="caption left-align">
          <h2>Text</h2>
        </div>
      </li>
{{!-- image 3 --}}
      <li>
        <img src="https://us.123rf.com/450wm/ammentorp/ammentorp1603/ammentorp160300030/53055686-frie[…]r-on-a-rooftop-get-together-group-of-friends-hanging.jpg?ver=6"
          alt="sharing">
        <div class="caption right-align">
          <h2>Text</h2>
        </div>
      </li>
    </ul>
  </section>